body{
  font-family: 'Open Sans';
  margin: 0;
}

.top-section-checkyoself {
  background-color: #1f1f3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 5px;
  width: auto;
}

h1{
  color: #ffff;
  font-weight: 800;
  font-size: 45px;
  margin-left: 15px;
}

.yo {
  color: #fec40e;
}

form {
  display: inline-flex;
}

.search-btn-and-input{
  border: 2px solid #1f1f3d;
  width: 425px;
}

.search-input[type=text] {
  background: #f1f1f1;
  border: none;
  border-radius: 0 2% 2% 0;
  font-size: 17px;
  height: 38px;
  margin-right: 10px;
  padding: 10px;
  width: 90%;
}

.search-button {
  background: #cae5e3;
  border: none;
  border-radius: 2% 0 0 2%; 
  cursor: pointer;
  font-size: 17px;
  height: 58px;
  width: 15%;
}

.search-btn-and-input::after {
  content: "";
  clear: both;
  display: table;
}

.search-btn-and-input button:hover {
  background: red;
}

.search-btn-and-input {
  flex-direction: row;
}

.container {
  display: grid;
  grid-template-areas: 
  "aside main main"
  "aside section section";
  grid-template-columns: 28% 72%;
  grid-template-rows: auto;
  height: 100vh;
}

aside {
  background-color: #587a8b;
  grid-area: aside;
}

nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.aside-form-todo-title,
.aside-form-todo-item {
  display:flex;
  flex-direction: column;
}

.aside-form-todo-item{
  display: inline-flex;
  flex-direction: row;
}

#todo-item-input {
  width: 100%;
}

.aside-plus-button {
  width: 52px;
  height: 52px;
} 

.aside-todo-item input[type=text] {
  background: #f1f1f1;
  border: 2px solid #1f1f3d;
  float: left;
  font-size: 17px;
  height: 31px;
  padding: 10px;
  width: 80%;
}

.aside-todo-item button {
  background: #1f1f3d;
  border: none;
  color: white;
  cursor: pointer;
  float: left;
  font-size: 17px;
  height: 55px;
  padding: 10px;
  width: 20%;
}

.aside-todo-item::after {
  content: "";
  clear: both;
  display: table;
}

.aside-todo-item button:hover {
  background: red;
}

.button {
  background-color: #1f1f3d;
  border-radius: 2%;
  border: none;
  color: #ffff;
  font-size: 25px;
  height: 50px;
  margin-top: 20px;
}

.button:hover {
  background: red;
}

textarea {
  border: 2px solid #1f1f3d;
  height: 48px;
}

.text {
  color: #ffff;
}

.aside-horizontal-line {
  border-top: 2px solid #246a7c;
  margin-top: 32px;
  margin-bottom: 20px;
}

main {
  border: 1px solid #246a7c;
  background-color: #f7fcfc;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 15px 15px;
  grid-template-rows: repeat(2, 1fr);
  padding: 30px;
}

.task-card {
  background-color: #ffff;
  border: 2px solid #d9eceb;
  display: flex;
  flex-direction: column;
  width: 400px;
}

figure {
  border: 1px solid #cae5e3;
  margin: 0px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-around;
}






















