* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}


body {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  grid-template-areas:
  "header header header"  
  "aside main main";
}

section {
  grid-area: header;
  height: 12vh;
}

aside {
  grid-area: aside;
}

body{
  font-family: 'Open Sans';
  margin: 0;
}

.top-section-checkyoself {
  align-items: center;
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: auto;
}

h1{
  color: #ffff;
  font-weight: 800;
  font-size: 3em;
  margin: 0;
  margin-left: 5px;
}

.yo {
  color: #fec40e;
}

form {
  display: inline-flex;
}

.search-btn-and-input{
  border: 2px solid #1f1f3d;
  width: 460px;
}

.search-input[type=text] {
  border: none;
  border-radius: 0 2% 2% 0;
  font-size: 17px;
  height: 58px;
  margin-right: 5px;
  padding: 10px;
  width: 90%;
}

.search-button {
  background-color: #f3f6f7;
  border: none;
  border-radius: 2% 0 0 2%; 
  cursor: pointer;
  font-size: 17px;
  height: 58px;
  padding: 12px;
  width: 15%;
}

.search-btn-and-input::after {
  content: "";
  clear: both;
  display: table;
}

.search-btn-and-input button:hover {
  background: red;
}

.search-btn-and-input {
  flex-direction: row;
}

aside {
  background-color: #587a8b;
  border: 3px solid #246a7c;
  border-right: none;
  border-left: none;
  border-top: none;
}

nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
}

.aside-form-todo-title,
.aside-form-todo-item {
  display:flex;
  flex-direction: column;
}

.aside-form-todo-item{
  display: inline-flex;
  flex-direction: row;
}

#todo-item-input {
  width: 100%;
}

.aside-card-task-section {
  width: 90%;
}

.aside-typed-todo {
  color: white;
  font-size: 25px;
}

.aside-plus-button {
  width: 52px;
  height: 52px;
} 

.aside-todo-item input[type=text] {
  background: #f1f1f1;
  border: 2px solid #1f1f3d;
  float: left;
  font-size: 17px;
  height: 55px;
  padding: 10px;
  width: 84%;
}

.aside-todo-item button {
  background: #1f1f3d;
  border: none;
  color: white;
  cursor: pointer;
  float: left;
  font-size: 17px;
  height: 55px;
  padding: 10px;
  width: 16%;
}

.aside-todo-item::after {
  content: "";
  clear: both;
  display: table;
}

.aside-todo-item button:hover {
  background: red;
}

.text {
  color: #f2f6f7;
  font-size: 20px;
  font-weight: 600;
  margin-top: 3em;
  margin-bottom: 5px;
}

.button {
  background-color: #1f1f3d;
  border-radius: 2%;
  border: none;
  color: #ffff;
  font-size: 25px;
  font-weight: 600;
  height: 60px;
  margin-top: 20px;
}

.button:hover {
  background: red;
}

#todo-title-input {
  border: 2px solid #1f1f3d;
  height: 55px;
}

.make-task-list-button{
  margin-top: 2em;
}

.minus {
  border: 1px solid white;
  width: 50%;
  height: 0;
}

.plus-button {
  display: flex;
  justify-content: center;
}

.plus {
  border: 1px solid white;
  transform: rotate(90deg);
}

.aside-horizontal-line {
  border-top: 2px solid #246a7c;
  margin-top: 32px;
  margin-bottom: 20px;
}

/*.disabled {
  cursor: not-allowed;
}*/

main {
  background-color: #f2f6f7;
  border-left: 3px solid #246a7c;
  column-width: 20em;
  grid-area: main;
  padding: 30px;
}

.task-card {
  background-color: #ffff;
  border: 2px solid #c7d3d8;
  break-inside: avoid;
  column-width: 14em; 
  height: fit-content;
  margin-bottom: 20px;
  max-width: 420px;
}

figure {
  border-top: 1px solid #cae5e3;
  margin-left: auto;
  margin-right:auto;
  padding: 15px;
  width: 100%;
}

h3 {
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 20px;
}

.aside-list-item,
.list-item {
  display: flex;
  align-items: baseline;
}

ul {
  padding: 0;
}

.tick {
  height: 20px;
  margin-right: 10px;
  margin-top: 30px;
  width: 20px;
}

.typed-todo {
  font-size: 30px;
  color: black;
}

.card-bottom {
  border-top: 1px solid #cae5e3;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

p{
  color: #587a8b;
  margin: 0;
}


.bottom-task-card-left-urgent,
.bottom-task-card-right-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.icon-button {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
}



@media screen and (max-width: 400px) {

body {
  display: flex;
  flex-direction: column;
}

.top-section-checkyoself {
  display: block;
}

h1 {
  font-size: 6vw;
  margin-left: 95px;
}


.search-btn-and-input{
  margin-bottom: 3px;
  margin-left: 5px;
  margin-top: 10px;
  width: 100%;
}

.search-input[type=text] {
  height: 30px;
  margin-right: 5px;
  padding: 10px;
  width: 95%;
}

.search-button {
  font-size: 17px;
  height: 30px;
  padding: 5px;
  width: 15%;
}

.text {
  color: #c6d3d9;
  font-size: 15px;
  margin-top: 1em;
}

#todo-title-input,
.aside-todo-item input[type=text],
.aside-todo-item button {
  height: 35px;
}

.button {
  font-size: 17px;
  height: 35px;
  margin-top: 30px;
}

main {
  border-right: 3px solid #246a7c;
  padding: 7px;
}

.task-card {
  margin-top: 20px;
}

h3 {
  font-size: 15px;
  height: 1vh;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 10px;
}

.filter-by-urgency-button {
  margin-bottom: 20px;
  margin-top: 0px;
}

.icon-button {
  height: 18px;
  width: 18px;
}

p{
  font-size: 10px;
}

.card-bottom {
  height: 6vh;
}

.tick {
  height: 15px;
}

.typed-todo {
  font-size: 15px;
}

figure {
  padding: 15px;
  width: 100%;
}

li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

ul {
  margin-top: auto;
}
}


@media screen and (max-width: 850px) {

h1 {
  font-size: 5vw;
}

.search-btn-and-input{
  width: 350px;
}

.search-input[type=text] {
  border: none;
  border-radius: 0 2% 2% 0;
  font-size: 17px;
  height: 58px;
  margin-right: 5px;
  padding: 10px;
  width: 90%;
}

.search-button {
  background-color: #f3f6f7;
  border: none;
  border-radius: 2% 0 0 2%; 
  cursor: pointer;
  font-size: 17px;
  height: 58px;
  padding: 12px;
  width: 15%;
}

}










































